BODY {
  font-size: 9pt;
  font-family: Arial;
  color: #005AA5;
  background: #FFFFFF;
}

h1 {
	text-align: center;
}

.main {
}

.filters {
  line-height: 10px;
}

table.reportlist {
	margin: 1em auto 1em auto;
	border-collapse: collapse;
  clear: both;
}

table.reportlist td, table.reportlist th {
	padding:0px;
	padding-right: 3px;
	padding-left: 3px;
  border-bottom: 0.1em solid;
  border-right: 0.1em solid;
}

table.reportlist thead {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;

}
table.reportlist tbody tr:first-child td {
	padding-top: 1px;
}
table.reportlist tr.sum {
	border-top: 1px solid grey;
}
table.reportlist tr.selected {
	background-color: lightgrey;
}
.reportdesc {
	font-weight: bold;
	border-top: 1px solid grey;
	width: 95%;
	margin-left: auto;
  margin-right: auto;
  float: left;
}

table.reportdata {
	margin: 1em auto 1em auto;
	border-collapse: separate;
	border-spacing: 1px;
}

table.reportdata tr th, table.reportdata tr td {
	text-align: center;
	padding: 1px;
}

table.reportdata tr.red {
	background-color: #FF0000;
  color: #FFFFFF;
}

table.reportdata tr.orange {
	background-color: #FFA500;
}

table.reportdata tr.lime {
	background-color: #00FF00;
}

table.reportdata tr.yellow {
	background-color: #FFFF00;
}

table.reportdata td.lime {
	background-color: #00FF00;
}

.footer {
	font-size: 70%;
	text-align: center;
	border-top: 1px solid grey;
	width: 90%;
	margin: 1em auto 1em auto;
	padding-top: 1px;
}

.close {
	font-size: 110%;
  font-weight: bold;
	text-align: center;
	width: 90%;
	margin: 1em auto 1em auto;
	padding-top: 1px;
  cursor: pointer;
}

.view {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: none;
  vertical-align: middle;
}

.print {
  /* display: inline-block; */
  border-top: 1px solid grey;
  float: right;
  width: 5%;
  height: 65px;
  text-align: center;
  /* align-content: baseline; */
  /* vertical-align: middle; */
  white-space: nowrap;
}

.print_img {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: none;
  line-height: 65px;
}

.reporttitle {
  width: 70%;
	float: left;
  white-space: nowrap;
  height: 50px;
}

.reportgraphs {
  width: 70%;
  height: 160px;
	float: left;
  white-space: nowrap;
  padding-bottom: 0px;
  text-align: center;
}

div.graph_col { width: 100%; height: 150px; padding-bottom: 0px; display: inline-block; float: left; }
div.graphDKIM { width: 150px; height: 150px; text-align: center; border: 0px solid; display: inline-block; }
div.graphSPF { width: 150px; height: 150px; text-align: center; border: 0px solid; display: inline-block; }
div.graphDMARC { width: 150px; height: 150px; text-align: center; border: 0px solid; display: inline-block; }

div.reportlist {
  width: auto;
  Height: auto;
//  text-align: center;
  border: 1px solid;
  border-color: white;
  display: block;
  overflow-y: auto;
  float: unset;
}

div.reportlist_status {
  width: 95em;
  Height: 40em;
  text-align: center;
  border: 1px solid;
  overflow-y: auto;
  position: fixed;
  display: none;
  background-color: white;
  margin-left: 5em;
  margin-top: -10em;
  z-index: 9999;
}

div.showxml {
  font-size: 10pt;
  width: 60em;
  Height: 40em;
  // text-align: center;
  border: 1px solid;
  overflow-y: auto;
  position: fixed;
  display: none;
  background-color: white;
  margin-left: 5em;
  margin-top: -10em;
  padding-left: 1.5em;
  z-index: 9999;
}

.optionblock {
  background: lightgrey;
/*   padding: 0.4em; */
	float: right;
/* 	margin: auto 2em 1em auto; */
  white-space: nowrap;
  width: 30%;
  height: 210px;
}

.optionlabel {
  font-size: 8pt;
  font-family: Arial;
  font-weight: bold;
  float: left; clear: left; 
  margin-right: 1em;
}

.options {
  font-size: 9pt;
  font-family: Arial;
	text-align: right;
  border: none;
  width: 97%;
  padding: 0.05em;
}

.activated {
  border: 0px solid black;
  color: black;
  background: lightgreen;
  padding: 0.2em;
  padding-right: 0.4em;
  padding-left: 0.4em;
  text-decoration: none;
}

.deactivated {
  border: 1px solid black;
  color: black;
  background: orange;
  padding: 0.2em;
  padding-right: 0.4em;
  padding-left: 0.4em;
  text-decoration: none;
}
.deactivated:hover {
    background-color: yellow;
}

.center {
	text-align:center;
}

.circle_lime:before {
	content: ' \25CF';
	font-size: 25px;
	color: #00FF00;
}

.circle_red:before {
	content: ' \25CF';
	font-size: 25px;
	color: #FF0000;
}

.circle_yellow:before {
	content: ' \25CF';
	font-size: 25px;
	color: #FFFF00;
}

.circle_orange:before {
	content: ' \25CF';
	font-size: 25px;
	color: #FFA500;
}
